Source: szn-libwagyu
Maintainer: Jiri Drbalek <jiri.drbalek@firma.seznam.cz>
Section: misc
Priority: optional
Standards-Version: 3.9.2
Build-Depends:
    debhelper (>= 9),
    rapidjson-dev

Package: szn-libwagyu-dev
Section: libdevel
Architecture: amd64
Depends: ${misc:Depends}
Description: A general library for geometry operations of union, intersections, difference, and xor 
